body {
    font-family: Arial, sans-serif;
}

.certificate-header {
    text-align: center;
    margin-top: 20px;
}

.certificate-header img {
    width: 100px;
    height: auto;
    float: left;
}

.certificate-header strong {
    color: red;
    display: block;
}

.student-gen-info-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

.student-gen-info-table th {
    background-color: #c2bcff;
    border: 2px solid black;
    padding: 8px;
}

.student-gen-info-table td {
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
